
SONG {
  font-family: avenir, sans-serif;
  font-size: 12px;
  display: block;
  background-color: #adf000;

}

TITLE {
  font-size: 20px;
  font-weight: 400;
  display: block;
  color: #1400c6;
  margin-left: 25%;

}

ARTIST {
  font-size: 20px;
  font-weight: 400;
  display: block;
  color: #ff0028;
  margin-left: 25%;


}

GENRE {
  display: block;
  margin-left: 25%;

}

RELEASEDATE {
  display: block;
  padding-bottom: 20px;
  margin-left: 25%;

}
